<section class="app-container">
  <section class="header-container">
    <app-homepage-website-menu></app-homepage-website-menu>
  </section>
  <section class="body-container">
    <div class="dashboard-container">
      <app-homepage-dashboard></app-homepage-dashboard>
    </div>
    <div class="action-area-container">
      <app-homepage-action-area></app-homepage-action-area>
    </div>
  </section>
  <section class="footer-container">
    <app-homepage-acknowledgements-board></app-homepage-acknowledgements-board>
  </section>
</section>
