<section class="debug centered">
  <section class="debug centered margined-vertically">
    <app-homepage-website-menu></app-homepage-website-menu>
  </section>
  <section class="debug centered margined-vertically">
    <div class="debug margined-horizontally margined-vertically grid-primary-secondary-parts">
      <div class="debug secondary">
        <app-homepage-dashboard></app-homepage-dashboard>
      </div>
      <div class="debug primary">
        <app-homepage-action-area></app-homepage-action-area>
      </div>
    </div>
  </section>
  <section class="debug centered margined-vertically">
    <app-homepage-acknowledgements-board></app-homepage-acknowledgements-board>
  </section>
</section>
