<section class="debug container-large-placed-middle">
  <section class="debug container-large-centered whitespaced-vertically">
    <app-homepage-website-menu></app-homepage-website-menu>
  </section>
  <section class="debug container-large-centered whitespaced-vertically">
    <div class="debug grid-two-columns-one-row-with-whitespace whitespaced-completely">
      <div class="debug grid-column-secondary whitespaced-completely">
        <app-homepage-dashboard></app-homepage-dashboard>
      </div>
      <div class="debug grid-column-primary whitespaced-completely">
        <app-homepage-action-area></app-homepage-action-area>
      </div>
    </div>
  </section>
  <section class="debug container-large-centered whitespaced-vertically">
    <app-homepage-acknowledgements-board></app-homepage-acknowledgements-board>
  </section>
</section>
