<section class="debug container-large-centered">
  <section class="debug container-large-centered whitespaced-vertically content-aligned-right">
    <div class="debug whitespaced-completely">
      <p *ngFor="let paragraph of prefaceParagraphs">
        {{paragraph}}
      </p>
    </div>
  </section>
  <section class="debug container-large-placed-middle">
    <div class="debug container-large-centered whitespaced-vertically content-centered">
      <h1>{{title}}</h1>
    </div>
    <div class="debug container-large-centered whitespaced-vertically content-inline-direction-column">
      <div *ngFor="let goal of projectGoals"
        class="debug whitespaced-completely content-inline-with-custom-dimensions-justified-center"
      >
        <div class="debug thumbnail-small">
          <img src="goal.imgSrc" alt="goal.altText">
        </div>
        <div class="goal-text-container">
          {{goal.text}}
        </div>
      </div>
    </div>
    <div class="debug container-large-centered whitespaced-vertically content-centered">
      <button [routerLink]="['/home']" class="button-large">
        Proceed to application
      </button>
    </div>
  </section>
  <section class="debug container-large-centered whitespaced-vertically">
    <div class="debug container-large-centered whitespaced-vertically">
      <h1>{{acknowledgement.title}}</h1>
      <p *ngFor="let paragraph of acknowledgement.paragraphs">
        {{paragraph}}
      </p>
    </div>
    <div class="debug container-large-centered whitespaced-vertically content-inline">
      <div *ngFor="let copyright of copyrights" class="copyright-container">
        <a href="copyright.link">
          {{copyright.description}}
        </a>
      </div>
    </div>
  </section>
</section>
