<div class="debug centered centered-content margined-vertically margined-horizontally">
  <h2 class="debug centered centered-content margined-vertically">
    {{title}}
  </h2>
  <div [ngClass]="userSummaryContainerClasses">
    <div class="debug margined-vertically margined-horizontally">
      <img src="user.avatar.imgSrc" alt="user.avatar.altText">
    </div>
    <div class="debug margined-vertically margined-horizontally">
      <div class="debug grid-primary-secondary-parts margined-vertically margined-horizontally">
        <div class="debug secondary">
          First name
        </div>
        <div class="debug primary">
          {{user.firstName}}
        </div>
      </div>
      <div class="debug grid-primary-secondary-parts margined-vertically margined-horizontally">
        <div class="debug secondary">
          Last name
        </div>
        <div class="debug primary">
          {{user.lastName}}
        </div>
      </div>
      <div class="debug grid-primary-smaller-secondary-bigger margined-vertically margined-horizontally">
        <div class="debug secondary">
          Companies suitable for investment
        </div>
        <div class="debug primary">
          {{user.amountOfCompaniesToInvest}}
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="userSummaryErrorContainerClasses">
    <div class="debug centered centered-content margined-vertically">
      {{errorMessage}}
    </div>
  </div>
</div>
