<div class="user-details-container">
  <div class="avatar-container">
    <img src="user.avatar.imgSrc" alt="user.avatar.altText">
  </div>
  <div class="details-container">
    <div class="detail-container">
      <div class="detail-caption">
        First name
      </div>
      <div class="detail-value">
        {{user.firstName}}
      </div>
    </div>
    <div class="detail-container">
      <div class="detail-caption">
        Last name
      </div>
      <div class="detail-value">
        {{user.lastName}}
      </div>
    </div>
  </div>
</div>
<div class="user-financial-data-container">
  <div class="financial-data-container">
    <div class="financial-data-caption">
      Companies suitable from investment
    </div>
    <div class="financial-data-value">
      {{user.amountOfCompaniesToInvest}}
    </div>
  </div>
</div>
