<div [ngClass]="requestContainerClasses">
  <div class="debug whitespaced-completelty">
    <div class="debug whitespaced-completely container-large-centered-with-centered-content">
      <h2>
        {{title}}
      </h2>
      <p *ngFor="let paragraph of componentDescription">
        {{paragraph}}
      </p>
    </div>
    <div class="debug whitespaced-completely container-large-centered-with-centered-content">
      <div class="debug whitespaced-completely grid-two-columns-three-rows-with-whitespace">
        <label for="stockSymbol" class="debug whitespaced-completely grid-column-secondary">
          Stock symbol:
        </label>
        <input id="stockSymbol" class="debug whitespaced-completely grid-column-primary" type="text"
          (change)="stockAcronymUpdated($event)"
        >
      </div>
    </div>
  </div>
  <div class="debug whitespaced-completely container-large-centered-with-centered-content">
    <button (click)="submit()" class="button-large">
      Submit
    </button>
  </div>
</div>
<div [ngClass]="requestErrorContainerClasses">
  <div class="debug whitespaced-completely container-large-centered-with-centered-content">
    {{errorMessage}}
  </div>
  <div class="debug whitespaced-completely container-large-centered-with-centered-content">
    <button (click)="dismissErrorMessage()" class="button-large">
      Dismiss
    </button>
  </div>
</div>
<div [ngClass]="responseContainerClasses">
  <div class="debug whitespaced-completely container-large-centered-with-centered-content">
    {{responseMessage}}
  </div>
  <div class="debug whitespaced-completely container-large-centered-with-centered-content">
    <button (click)="dismissResponseMessage()">
      Dismiss
    </button>
  </div>
</div>
