<div [ngClass]="requestContainerClasses">
  <div class="debug whitespaced-completely">
    <div class="debug whitespaced-completely container-large-centered-with-centered-content">
      <h2>
        {{title}}
      </h2>
      <p *ngFor="let paragraph of componentDescription">
        {{paragraph}}
      </p>
    </div>
  </div>
  <div class="debu whitespaced-completely container-large-centered-with-centered-content">
    <button (click)="submit()" class="button-large">
      Submit
    </button>
  </div>
</div>
<div [ngClass]="requestErrorContainerClasses">
  <div class="debug whitespaced-completely container-large-centered-with-centered-content">
    {{errorMessage}}
  </div>
  <div class="debug whitespaced-completely container-large-centered-with-centered-content">
    <button (click)="dismissErrorMessage()" class="button-large">
      Dismiss
    </button>
  </div>
</div>
<div [ngClass]="responseContainerClasses">
  <div class="debug whitespaced-completely container-large-centered-with-centered-content">
    {{responseMessage}}
  </div>
  <div class="debug whitespaced-completely container-large-centered-with-centered-content">
    <button (click)="dismissResponseMessage()">
      Dismiss
    </button>
  </div>
</div>
