<section class="debug whitespaced-completely">
  <action-area-investment-functionalities-menu></action-area-investment-functionalities-menu>
</section>
<section class="no-overflow">
  <action-area-calculate-investment-recommendation *ngIf="showCalculateInvestmentRecommendation">
  
  </action-area-calculate-investment-recommendation>
  <action-area-collect-stock-data *ngIf="showCollectStockData"></action-area-collect-stock-data>
  <action-area-greeting *ngIf="showGreeting"></action-area-greeting>
  <action-area-login *ngIf="showLogin"></action-area-login>
  <action-area-signup *ngIf="showSignup"></action-area-signup>
</section>
<section class="footer-container">

</section>
