/* You can add global styles to this file, and also import other style files */

@mixin button-large-height()
  @media (max-width: 1440px)
    height: 40px

@mixin button-large-margins-horizontal()
  margin-left: auto
  margin-right: auto

@mixin button-large-margins-vertical()
  @media (max-width: 1440px)
    margin-top: 10px
    margin-bottom: 10px
  
@mixin button-large-width()
  width: 90%

@mixin button-medium-height()
  @media (max-width: 1440px)
    height: 40px

@mixin button-medium-width()
  @media (max-width: 1440px)
    width: 160px

@mixin button-small-height()
  @media (max-width: 1440px)
    height: 40px

@mixin button-small-margins-horizontal()
  @media (max-width: 1440px)
    margin-left: 10px
    margin-right: 10px

@mixin button-small-margins-vertical()
  @media (max-width: 1440px)
    margin-bottom: 10px
    margin-top: 10px

@mixin button-small-width()
  @media (max-width: 1440px)
    width: 120px

@mixin container-large-width()
  @media (max-width: 1440px)
    width: 95%

@mixin container-large-horizontal-margin()
  @media (max-width: 1440px)
    margin-left: auto
    margin-right: auto

@mixin container-large-vertical-margin()
  @media (max-width: 1440px)
    margin-top: 100px

@mixin non-rendered()
  display: none

@mixin non-visible()
  opacity: 0

@mixin rendered-block()
  display: block

@mixin rendered-inline()
  display: inline

@mixin thumbnail-medium-height()
  @media (max-width: 1440px)
    height: 100px

@mixin thumbnail-medium-width()
  @media (max-width: 1440px)
    width: 100px

@mixin thumbnail-small-width()
  @media (max-width: 1440px)
    width: 60px

@mixin thumbnail-small-height()
  @media (max-width: 1440px)
    height: 60px

@mixin visible()
  opacity: 1
