<div class="debug inline-custom-dimensions uses-parents-width">
  <div class="debug thumbnail-medium">
    <img [src]="logo.imgSrc" [alt]="logo.altText">
  </div>
  <div class="debug inline-custom-dimensions matches-thumbnail-medium-height">
    <button *ngIf="guestMode" class="matches-thumbnail-medium-height button-width button-margins" (click)="login()">
      Login
    </button>
    <button *ngIf="guestMode" class="matches-thumbnail-medium-height button-width button-margins" (click)="signup()">
      Signup
    </button>
    <button *ngIf="!guestMode" class="matches-thumbnail-medium-height button-width button-margins" (click)="logout()">
      Logout
    </button>
  </div>
</div>
