<div class="debug whitespaced-completely content-inline-with-custom-dimensions-justified-center">
  <div class="debug thumbnail-small">
    <img [src]="logo.imgSrc" [alt]="logo.altText">
  </div>
  <div class="debug whitespaced-horizontally content-inline-with-custom-dimensions-justified-center">
    <button *ngIf="guestMode" class="button-small" (click)="login()">
      Login
    </button>
    <button *ngIf="guestMode" class="button-small" (click)="signup()">
      Signup
    </button>
    <button *ngIf="!guestMode" class="button-small" (click)="logout()">
      Logout
    </button>
  </div>
</div>
