@import '../styles'

.container-large-placed-middle
  @include container-large-width
  @include container-large-horizontal-margin
  @include container-large-vertical-margin

.container-large-centered
  @include container-large-width
  @include container-large-horizontal-margin

.content-inline-with-custom-dimensions-justified-center
  display: inline-flex
  align-items: center

.grid-two-columns-one-row-with-whitespace
  display: grid
  grid-template-columns: 40% 10% 50%
  grid-template-rows: auto
  grid-template-areas: "secondary . primary"

.grid-two-columns-three-rows-with-whitespace
  @extend .grid-two-columns-one-row-with-whitespace
  grid-template-areas: "secondary . primary", "secondary . primary", "secondary . primary"

.grid-column-primary
  grid-area: primary

.grid-column-secondary
  grid-area: secondary

.thumbnail-medium
  @include thumbnail-medium-width
  @include thumbnail-medium-height
  @extend .whitespaced-completely

.thumbnail-small
  @include thumbnail-small-width
  @include thumbnail-small-height
  @extend .whitespaced-completely

.whitespaced-completely
  @extend .whitespaced-horizontally
  @extend .whitespaced-vertically

.whitespaced-horizontally
  margin-left: 5px
  margin-right: 5px

.whitespaced-vertically
  margin-top: 5px
  margin-bottom: 5px