@import '../styles'

.centered
  margin: auto
  width: 90%

.debug
  border-width: 1px
  border-color: black
  border-style: solid

.displayed-inline-custom-dimensions
  display: inline-flex
  align-items: center

.margined-vertically
  margin-top: 1em
  margin-bottom: 1em

.margined-horizontally
  margin-left: 1em
  margin-right: 1em